@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
// colors
$gradient1: hsl(6, 100%, 80%);
$gradient2: hsl(335, 100%, 65%);

$paleblue: hsl(243, 100%, 93%);
$grayishblue: hsl(229, 7%, 70%);
$darkblue: hsl(228, 56%, 26%);
$verydarkblue: hsl(229, 57%, 11%);

// .bar,
// .percentage{   
//     border-radius: 10px;
// }
// .bar{
//     background-color: $verydarkblue;
//     width: 100%;
//     padding: 1%;
// }
// .percentage{
//     width: 80%;
//     background: linear-gradient(to right, $gradient1, $gradient2);
//     display: flex;
//     align-items: center;
//     justify-content: flex-end;
// }
// .indicator{
//     height: 10px;
//     background-color: #fff;
//     width: 10px; // pixels for definite size
//     border-radius: 50%;
// }
// .info{
//     display: flex;
//     justify-content: space-between;
//     margin-top: 0.5em;
//     color: $paleblue;
// }
// .float{
//     position: absolute;
//     // positioning shape
//     right: 2em;
//     top: -30%;
//     display: flex;
//     flex-direction: column;
//     // kinda confusing but got a hang of it
//     align-items: flex-end;

//     &__container{
//         background-color: #fff;
//         // top right, top left, bottom right, bottom left 
//         border-radius: 8px 8px 0px 8px;
//         // width: 180px;
//         white-space: nowrap; 
//         padding: 1em 2em;
//         display: flex;
//         align-items: center;
//         gap: 0.5em;
//     }
//     &__size{
//         font-weight: 700;
//         font-size: 3em;
//     }
//     &__left{
//         margin-top: 0.5em;
//         font-size: 1em;
//         font-weight: 700;
//         color: $grayishblue;
//     }
//     // shape
//     &__shape{
//         display: block;
//         width: 0;
//         height: 0;
//         border-right: 10px solid #fff;
//         border-top: 10px solid #fff;
//         border-left: 10px solid transparent;
//         border-bottom: 10px solid transparent;
//     }
// }